<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><a class="tab_name" href="#" id="tab_<%= @tab.id %>" data-id="<%= @tab.id %>"><%= @tab.name %></a></h3>
	</div>
	<div class="panel-body">
		<% @tab.items.each do |item| %>
		<ul class="list-group">
			<%= erb :'tab/_item', locals: {item: item} %>
		</ul>
		<% end %>
	</div>
</div>
<div class="row col-sm-12 col-md-12 col-lg-12">
	<span class="rabbits-list">
	<% @rabbits.each do |rabbit| %>
		<%= erb :'rabbit/_rabbit', locals: {rabbit: rabbit, color: COLOR_CLASSES.next, user: @user} %>
	<% end%>
	</span>
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg add_user" data-toggle="modal" data-target="#addModal">
	  Add Someone
	</button>

	<!-- Modal -->
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addSomeone" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="addSomeone">Add Someone</h4>
	      </div>
	      <div class="modal-body">
	      	<%= erb :'rabbit/_new', locals: {unused_rabbits: @unused_rabbits, tab: @tab} %>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary save_rabbit">Add</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>