<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><a href="/tab/<%= @tab.id %>" id="tab_<%= @tab.id %>"> &lt; <%= @tab.name %></a><span id='totals'>Totals</span></h3>
	</div>
	<div class="panel-body">
		<% @rabbits.each.with_index do |rabbit, index| %>
		<ul class="list-group">
			<li class="rabbit_total list-group-item list-group-item-<%= COLOR_CLASSES[index] %>" data-id="<%= rabbit.id %>" data-subtotal="<%= rabbit.subtotal(@tab) %>">
				<span class="rabbit_name"><%= rabbit.name %></span>
				<span class="rabbit_after_tax_and_tip"><%= dollarize(rabbit.subtotal(@tab) * (1 + DEFAULT_TAX + DEFAULT_TIP)) %></span>
				<span class="tax_and_tip"> + <%= dollarize(rabbit.subtotal(@tab) * (DEFAULT_TAX + DEFAULT_TIP)) %> = </span>
				<span class="rab_sub"><%= dollarize(rabbit.subtotal(@tab)) %></span>
			</li>
		</ul>
		<% end %>
		<ul class="list-group">
			<li class="subtotal list-group-item" id="subtotal" data-subtotal="<%= @subtotal %>">
			<span class="rabbit_name">Total</span>
			<span class="rabbit_after_tax_and_tip"><%= dollarize( @subtotal * (1 + DEFAULT_TAX + DEFAULT_TIP)) %></span>
			<span class="tax_and_tip"> + <%= dollarize( @subtotal * (DEFAULT_TAX + DEFAULT_TIP)) %> = </span>
			<span class="rab_sub"><%= dollarize(@subtotal) %></span>
			</li>
		</ul>
		<div class="wrap col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="tax_tip col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<form class="form-inline" role="form">
		  <div class="form-group">
				<div class="input-group col-xs-12 col-sm-5 col-md-5 col-lg-5">
				  <span class="input-group-addon">$</span>
				  <input type="text" name="tax_amount" id="tax_amount" class="form-control" value="<%= dollarize(DEFAULT_TAX * @subtotal).gsub(/\$/,'') %>">
				</div>
				<label for='tax_amount'> Tax </label>
				<div class="input-group col-xs-12 col-sm-5 col-md-5 col-lg-5">
				  <input type="text" name="tax_percent" id="tax_percent" class="form-control" value="<%= DEFAULT_TAX * 100 %>">
				  <span class="input-group-addon">&#37;</span>
				</div>
			</div>
		</form>
		</div>
		<div class="tax_tip col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<form class="form-inline" role="form">
		  <div class="form-group">
				<div class="input-group col-xs-12 col-sm-5 col-md-5 col-lg-5">
				  <span class="input-group-addon">$</span>
				  <input type="text" name="tip_amount" id="tip_amount" value="<%= dollarize(DEFAULT_TIP * @subtotal).gsub(/\$/,'') %>" class="form-control">
				</div>
				<label for='tip_amount'> Tip </label>
				<div class="input-group col-xs-12 col-sm-5 col-md-5 col-lg-5">
				  <input type="text" name="tip_percent" id="tip_percent" class="form-control" name="tip_percent" value="<%= DEFAULT_TIP * 100 %>">
				  <span class="input-group-addon">&#37;</span>
				</div>
			</div>
		</form>
	</div>
	</div>
	</div>
</div>
<script src="/js/tax_tip.js"></script>