<div class="btn-group dropup rabbit" id="rabbit_<%= rabbit.id %>" data-colorclass="<%= color %>">
	<button type="button" class="btn btn-<%= color %> rabbit_itself"><span class='rabbit_name'><%= rabbit.name %></span> | <span class='rabbit_subtotal'><%= dollarize(rabbit.subtotal) %></span></button>
	<button type="button" class="btn btn-<%= color %> dropdown-toggle" data-toggle="dropdown">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu rabbit_dropdown" role="menu">
		<% unless rabbit.id == user.avatar_rabbit_id %>
		<li><a class="remove_rabbit" href="/rabbit/<%= rabbit.id %>/delete">Remove</a></li>
		<% end %>
		<li><a class="edit_rabbit" href="/rabbit/<%= rabbit.id %>/edit">Edit</a></li>
	</ul>
</div>